.sendThatText::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.sendThatText::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.sendThatText::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 3px;
}

/* Main styles */

.messageSendWrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: auto;
  flex-shrink: 0;
  padding: 15px;
  box-sizing: border-box;
  border-top: 1px solid #b3b3b3;
}

.sendThatTextWrap {
  border: 1px solid #b3b3b3;
  display: flex;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.sendThatFile {
  height: auto;
  width: 35px;
  border-right: 1px solid #b3b3b3;
  flex-shrink: 0;
  cursor: pointer;
}

.sendThatText {
  resize: none;
  max-height: 140px;
  width: 100%;
  background: #f7f7f7;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #282828;
}

.sendThatSmile {
  height: auto;
  width: 35px;
  border-left: 1px solid #b3b3b3;
  flex-shrink: 0;
  cursor: pointer;
}

.sendThatSmile > span {
  transition: transform 150ms ease-out;
}

.sendThatSmile:hover > span {
  transform: scale(1.2);
}
