.bottom {
  float: left;
  clear: both;
}

.messageLog::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}

.messageLog::-webkit-scrollbar {
  width: 4px;
}

.messageLog::-webkit-scrollbar-thumb {
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 3px;
}

/* main styles */

.messageLogWrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.emojiWrap {
  position: absolute;
  bottom: -10px;
  right: 16px;
  transform-origin: bottom right;
  transform-style: preserve-3d;
  will-change: transform;
}

.messageLog {
  max-height: 100%;
  width: 100%;
  background: #ffffff;
  overflow: auto;
  padding: 5px 15px 15px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Message box */

.messageBoxDate {
  font-size: 12px;
  margin: 10px 0;
  color: #949494;
  align-self: center;
}

/* .messageBoxText {
  padding: 11px 13px 11px 13px;
  max-width: 500px;
  margin-top: 10px;
  border-radius: 3px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 91, 234, 0.85);
  color: white;
} */

.messageBoxText {
  padding: 11px 13px 11px 13px;
  max-width: 500px;
  margin-top: 7.5px;
  border-radius: 0 0 3px 3px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgba(128, 128, 128, 0.51);
  border-top: 2px solid rgba(0, 91, 234, 0.9);
}