.bottom {
  float: left;
  clear: both;
}

.messageLogWrap::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.messageLogWrap::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.messageLogWrap::-webkit-scrollbar-thumb {
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 3px;
}

/* main styles */

.messageLogWrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.messageLog {
  max-height: 100%;
  width: 100%;
  background: #ffffff;
  overflow: auto;
  padding: 5px 15px 15px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: flex-end;
}

.messageBoxWrap {
  border: 1px solid #2e2e2e;
  padding: 12.5px;
  max-width: 500px;
  margin-top: 10px;
  border-radius: 3px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
