.header-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.header-icon {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
