.tab-message-search {
  width: 100%;
  margin-bottom: 20px;
}

/* messsage card */

.tab-message-card {
  flex-shrink: 0;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  /* background: rgb(240, 240, 240); */
  cursor: pointer;
  border-bottom: 1px solid rgb(200, 200, 200);
  position: relative;
}

.message-card-pic {
  height: 50px;
  width: 50px;
  background-size: cover;
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 50%;
}

.message-card-desc {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
  width: calc(100% - 70px);
  font-family: Roboto;
}
.message-card-user {
  font-weight: bold;
  font-size: 14px;
  color: #1059ce;
  letter-spacing: 1px;
}

.message-card-message {
  font-size: 12px;
  color: rgb(120, 120, 120);
  letter-spacing: 0.2px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.message-card-time {
  font-size: 10px;
  line-height: 1.6;
  color: rgb(130, 130, 130);
  letter-spacing: 1px;
  position: absolute;
  font-family: Roboto;
  margin: 5px 0;
  right: 0;
  top: 0;
}

.tab-message-card:last-child {
  margin: 0;
}
