.messenger-login-page-wrap {
  height: 100vh;
  width: 100%;
  background: rgb(220, 220, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}

.messenger-login-wrap {
  width: 300px;
  position: relative;
  transform-origin: center;
}

.input-loader-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
}

.messenger-login-banner {
  height: 200px;
  width: 100%;
  border-radius: 2px 2px 0 0;
  transition: 300ms ease;
  /* background-color: #466edc; */
}

.messenger-login-banner::after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: #466edc;
  transform-origin: bottom;
  animation: banner-loaded 300ms ease-in-out forwards;
  animation-fill-mode: both;
}

@keyframes banner-loaded {
  from {
    transform: scale3d(1, 0, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.messenger-login-form-wrap {
  width: 100%;
  background: rgb(253, 253, 253);
  padding: 25px;
  border-radius: 1px 1px 2px 2px;
  transform-style: preserve-3d;
  transition: transform 300ms ease, opacity 300ms ease;
  z-index: 20;
  position: relative;
  display: flex;
  flex-direction: column;
}

.messenger-login-form-wrap::after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: #466edc;
  transform-origin: bottom;
  animation: form-loaded 300ms ease-in-out forwards 250ms;
  animation-fill-mode: both;
}

@keyframes form-loaded {
  100% {
    transform: scale3d(1, 0, 1);
  }
}

.messenger-login-form-wrap:last-child {
  border-radius: 0px 0px 2px 2px;
  border-top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: none;
}

.messenger-login-form label {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  font-size: 12px;
  position: relative;
}

.login-form-input {
  border: 0;
  letter-spacing: 0.5px;
  padding: 10px;
  background: none;
  font-size: 16px;
  color: rgb(30, 30, 30);
  margin-top: 10px;
  outline: none;
  background: rgb(220, 220, 220);
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
}

.login-form-input::placeholder {
  color: rgb(110, 110, 110);
}
