.convo-log::-webkit-scrollbar {
  width: 4px;
}

.convo-log::-webkit-scrollbar-thumb {
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 3px;
}

/* MESSAGE LOG GENERAL */

.message-log-load {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.9;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.convo-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: #e4ebee;
  font-family: Roboto;
  letter-spacing: 0.2px;
}

.convo-log {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
